.user-table{
  td{
    vertical-align: bottom;
    text-align: center;
  }
}

.label-user{
  margin-top: 5px;
}

.btn-user{
  margin-top: 10px;
}

.table-users{
  td{
    vertical-align: middle;
  }
}

#table-attendances{
  th{
    vertical-align: bottom;
    text-align: center;
  }
  
  td{
    vertical-align: middle;
    text-align: center;
  }
}

.sat {
  color: #0000ff;
}

.sun {
  color: #ff0000;
}

.btn-show{
  margin-bottom: 10px;
}
